### MVN ###

target/

pom.xml.releaseBackup
release.properties
LOG_FILE_IS_UNDEFINED

### STS ###

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
dependency-reduced-pom.xml

